#searchBar{
  background-color: #6592AD;
  width: 60%;
  border-radius: 10px;
  height:30%;

}

.searchForm{

  padding-left: 10%;
  padding-top: 5%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

.form-group.required .row .control-label:after {
  content:"*";
  color:red;
}

table a:hover{
  cursor:pointer;
}
